{% extends 'base.html.twig' %}

{% block title %}
	Ma commande | {{ parent() }}
{% endblock %}

{% block content %}
	<h1>Commande n°{{order.reference}}</h1>
	<a href="{{ path('account_order') }}">Retour</a>
	<hr>
	<strong>Statut de la commande : </strong>
	{% if order.state == 1 %}							
		Payée
	{% elseif order.state == 2 %}
		Préparation en cours
	{% elseif order.state == 3 %}
		Livraison en cours					
	{% endif %}<br>
	<strong>Commande passé le :</strong> {{order.createdAt |date('d-m-Y')}}<br>
	<strong>Référence de ma commande :</strong> {{order.reference}}<br>
	<strong>Transporteur choisi :</strong> {{order.carrierName}} <br>
	<hr>
	<strong>Détails</strong> 
	<table class="table mt-4">
			<thead>
				<tr>
					<th scope="col">Produit</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix unitaire</th>
					<th scope="col">Total</th>
				</tr>
			</thead>
			<tbody>
				{% for product in order.orderDetails %}
					<tr>
						<td>{{product.product}}</td>
						<td>{{product.quantity}}</td>
						<td>{{(product.price / 100)|number_format(2, ',', '.', ' ')}} &euro;</td>
						<td>{{((product.total) / 100)|number_format(2, ',', '.', ' ')}} &euro;</td>
					</tr>
				{% endfor %}


			</tbody>
		</table>

<div class="text-right">
	<strong>Sous-total : </strong>{{((order.getTotal) / 100)|number_format(2, ',', '.', ' ')}} &euro; <br>
	<strong>Livraison : </strong>{{((order.carrierPrice) / 100)|number_format(2, ',', '.', ' ')}} &euro; <br>
	<strong>Total : </strong>{{((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',', '.', ' ')}} &euro;
</div>
{% endblock %}
